# BEGIN WordPress

RewriteEngine On

# REDIRECTS

; Redirect 301 /vacancies-list /vacatures
; RewriteRule ^doorgroeien$ /doorgroeien/ [L,R=301]

# END REDIRECTS

RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]

# END WordPress